@font-face {
    font-family: "Mona Sans VF";
    src: local("Mona Sans VF");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-optical-sizing: auto;
}

html,
body,
.markdown-body {
    font-family:
        "Mona Sans VF",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Noto Sans Backtick Fix",
        "Noto Sans CJK KR",
        "Noto Sans",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
td,
th,
blockquote {
    font-family: inherit;
}

code,
pre,
kbd,
samp {
    font-family:
        ui-monospace,
        SFMono-Regular,
        "SF Mono",
        Menlo,
        Consolas,
        "Liberation Mono",
        monospace;
}
